p {
  font-family: Lato;
}
.main-box {
  background-color: whitesmoke;
  margin: 7rem auto;
  width: 400px;
  padding: 1rem;
  box-shadow: 7px 7px whitesmoke;
}
.success {
  color: green;
  font-weight: bold;
}
.pending {
  color: grey;
}
.incorrect {
  color: red;
}
